
body {
    background-color: #eaeaea;
    color: #f7f6f6fa;
}
a:hover {
    color: #ff6600;
    
}
h1{
    font-style: italic;
}
h2{
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-image: url("back.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
img{
    margin-top: 1%;
}
header {
    background-color: #333;
    color: rgb(252, 247, 247);
    padding: 10px 0;
    text-align: center;
    background-attachment: fixed;
         
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: rgb(245, 243, 243);
    text-decoration: none;
}
.container {
    padding: 20px;
}
.bike-image {
    max-width: 100%;
    height: auto;
}
.bike-info {
    margin: 20px 0;
}
.table{
    margin-top: 50px;
    border-bottom: 10px;
    border-color: rgb(225, 227, 230);
}
th{
    padding: 30px;
    text-align: center;
}
td{
    text-align: center;
}
.Bikes{
    display: block;
    justify-content: space-around;
}