<web-app>
    <servlet>
        <servlet-name>BikeRegistrationServlet</servlet-name>
        <servlet-class>BikeRegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BikeRegistrationServlet</servlet-name>
        <url-pattern>/registerBike</url-pattern>
    </servlet-mapping>
</web-app>
